<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>realxnogga's portfolio</name>
    <description>created using react and tailwind</description>


    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/ldpi.png" />
        <icon density="mdpi" src="res/icon/mdpi.png" />
        <icon density="hdpi" src="res/icon/hdpi.png" />
        <icon density="xhdpi" src="res/icon/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/xxxhdpi.png" />
    </platform>

     <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="platforms\android\app\src\main\res\drawable\sp.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />   
        <preference name="SplashScreenDelay" value="2000" />  
        <preference name="FadeSplashScreenDuration" value="1000" />
    </platform>


    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
